<link
  rel="stylesheet"
  href="https://www.redditstatic.com/reddit.6-fmKdWEVQE.css"
/>

<div
  class="thing id-t3_gh5hau linkflair linkflair-m-be odd link res-selected RES-keyNav-activeThing"
  id="thing_t3_gh5hau"
  style="padding-top: 1%;"
>
  <p class="parent"></p>
  <span class="rank"></span>
  <div class="midcol unvoted">
    <div
      class="arrow up login-required access-required"
      data-event-action="upvote"
      role="button"
      aria-label="upvote"
      tabindex="0"
    ></div>
    <div class="score dislikes" title="39">39</div>
    <div class="score unvoted" title="40">{{ score }}</div>
    <div class="score likes" title="41">41</div>
    <div
      class="arrow down login-required access-required"
      data-event-action="downvote"
      role="button"
      aria-label="downvote"
      tabindex="0"
    ></div>
  </div>
  <a
    class="thumbnail invisible-when-pinned may-blank loggedin outbound"
    data-event-action="thumbnail"
    href="https://i.redd.it/m2wmwyol1zx41.png"
    data-href-url="https://i.redd.it/m2wmwyol1zx41.png"
    data-outbound-url="https://i.redd.it/m2wmwyol1zx41.png"
    data-outbound-expiration="0"
    rel="nofollow ugc"
    ><img src={{ link }} width="70" height="70" alt=""
  /></a>
  <div class="entry unvoted res-selected RES-keyNav-activeElement">
    <div class="top-matter">
      <p class="title">
        <a
          class="title may-blank loggedin outbound"
          data-event-action="title"
          href="https://i.redd.it/m2wmwyol1zx41.png"
          tabindex="1"
          data-href-url="https://i.redd.it/m2wmwyol1zx41.png"
          data-outbound-url="https://i.redd.it/m2wmwyol1zx41.png"
          data-outbound-expiration="0"
          rel="nofollow ugc"
          >{{ submissionTitle }}</a
        >
        <!-- <span class="linkflairlabel" title="News">News</span> -->
        <!-- <span class="domain">(<a href="/domain/i.redd.it/">i.redd.it</a>)</span> -->
      </p>
      <div class="expando-button expanded hide-when-pinned video"></div>
      <p class="tagline">
        submitted
        <time class="live-timestamp">{{ time }}</time>
        to /r/{{ sub }} by
        <a
          href="https://www.reddit.com/user/c1rru5"
          class="author may-blank id-t2_494d4vxp"
          >{{ author }}</a
        ><span class="RESUserTag" res-prevent-cloning-1589157309844="">
          <a
            class="userTagLink RESUserTagImage truncateTag"
            title="set a tag"
            href="javascript:void 0"
            >&nbsp;</a
          > </span
        ><span class="userattrs"></span
        ><span class="awardings-bar" data-subredditpath="/r/VictoriaBC/"></span>
      </p>
      <ul class="flat-list buttons">
        <li class="first">
          <a
            href="https://www.reddit.com/r/VictoriaBC/comments/gh5hau/victoria_bc_under_martial_law_after_an_angry_mob/"
            data-event-action="comments"
            class="bylink comments may-blank"
            rel="nofollow"
            >{{ commentsCount }} comments</a
          >
        </li>
        <li class="share">
          <a class="post-sharing-button" href="javascript: void 0;">share</a>
        </li>
        <li class="link-save-button save-button login-required">
          <a href="#">save</a>
        </li>
        <li>
          <form
            action="/post/hide"
            method="post"
            class="state-button hide-button"
          >
            <input type="hidden" name="executed" value="hidden" /><span
              ><a
                class="noCtrlF"
                href="javascript:void 0"
                data-event-action="hide"
                data-text="hide"
              ></a
            ></span>
          </form>
        </li>
        <li class="give-gold-button">
          <a
            href="/gold?goldtype=gift&amp;months=1&amp;thing=t3_gh5hau"
            title="give an award in appreciation of this post."
            class="give-gold login-required access-required gold-give-gold"
            data-event-action="gild"
            data-community-awards-enabled="True"
            rel="nofollow"
            >give award</a
          >
        </li>
        <li class="report-button login-required">
          <a
            href="javascript:void(0)"
            class="reportbtn access-required"
            data-event-action="report"
            >report</a
          >
        </li>
        <li class="crosspost-button">
          <a
            class="post-crosspost-button"
            href="javascript: void 0;"
            data-crosspost-fullname="t3_gh5hau"
            >crosspost</a
          >
        </li>
        <li>
          <a
            href="#"
            class="noCtrlF res-toggleAllChildren"
            action="hide"
            title="Show only replies to original poster."
            data-text="hide all child comments"
          ></a>
        </li>
      </ul>
      <div class="reportform report-t3_gh5hau"></div>
    </div>
    <div
      class="expando"
      data-pin-condition="function() {return this.style.display != 'none';}"
    >
      <div class="media-preview-content">
        <a href="https://i.redd.it/m2wmwyol1zx41.png" class="may-blank"
          ><img class="preview" style="max-width: 720px;" src={{ link }}
        /></a>
      </div>
    </div>
  </div>
  <div class="child"></div>
  <div class="clearleft"></div>
</div>
