<link
  rel="stylesheet"
  href="https://www.redditstatic.com/reddit.6-fmKdWEVQE.css"
/>
<link
  rel="stylesheet"
  href="https://www.redditstatic.com/reddit.V5k0cAlSHo4.css"
/>
<div
  class="thing id-t3_6jn4em linkflair odd link self res-selected RES-keyNav-activeThing"
  id="thing_t3_6jn4em"
  onclick="click_thing(this)"
  data-fullname="t3_6jn4em"
  data-type="link"
  data-gildings="0"
  data-whitelist-status="all_ads"
  data-author="{{ author }}"
  data-author-fullname="t2_xgjw6"
  data-subreddit="redditdev"
  data-subreddit-prefixed="r/redditdev"
  data-subreddit-fullname="t5_2qizd"
  data-subreddit-type="public"
  data-timestamp="1498503171000"
  data-url="/r/redditdev/comments/6jn4em/is_there_some_easy_way_to_check_if_a_link_post_is/"
  data-permalink="/r/redditdev/comments/6jn4em/is_there_some_easy_way_to_check_if_a_link_post_is/"
  data-domain="self.redditdev"
  data-rank=""
  data-comments-count="8"
  data-score="2"
  data-promoted="false"
  data-nsfw="false"
  data-spoiler="false"
  data-oc="false"
  data-num-crossposts="0"
  data-context="comments"
>
  <p class="parent"></p>
  <span class="rank"></span>
  <div class="midcol unvoted">
    <div
      class="arrow up login-required archived access-required"
      data-event-action="upvote"
      role="button"
      aria-label="upvote"
      tabindex="0"
    ></div>
    <div class="score dislikes" title="1">1</div>
    <div class="score unvoted" title="2">{{ score }}</div>
    <div class="score likes" title="3">3</div>
    <div
      class="arrow down login-required archived access-required"
      data-event-action="downvote"
      role="button"
      aria-label="downvote"
      tabindex="0"
    ></div>
  </div>
  <div class="entry unvoted res-selected RES-keyNav-activeElement">
    <div class="top-matter">
      <p class="title">
        <a
          class="title may-blank loggedin"
          data-event-action="title"
          href="/r/redditdev/comments/6jn4em/is_there_some_easy_way_to_check_if_a_link_post_is/"
          tabindex="1"
          >{{ submissionTitle }}</a
        >
        <span class="domain"
          >(<a href="/r/redditdev/">self.{{ sub }}</a
          >)</span
        >
      </p>
      <p class="tagline">
        submitted
        <time
          title="Mon Jun 26 18:52:51 2017 UTC"
          datetime="2017-06-26T18:52:51+00:00"
          class=""
          >{{ time }}</time
        >
        by
        <a
          href="https://www.reddit.com/user/redditpirateroberts"
          class="author may-blank id-t2_xgjw6"
          >{{ author }}</a
        ><span class="RESUserTag" res-prevent-cloning-1594582475913="">
          <a
            class="userTagLink RESUserTagImage truncateTag"
            title="set a tag"
            href="javascript:void 0"
            >&nbsp;</a
          > </span
        ><span class="userattrs"></span
        ><span class="awardings-bar" data-subredditpath="/r/redditdev/"></span>
      </p>
      <ul class="flat-list buttons">
        <li class="first">
          <a
            href="https://www.reddit.com/r/redditdev/comments/6jn4em/is_there_some_easy_way_to_check_if_a_link_post_is/"
            data-event-action="comments"
            class="bylink comments may-blank"
            rel="nofollow"
            >{{ commentsCount }} comments</a
          >
        </li>
        <li class="viewSource" res-prevent-cloning-1594582475913="">
          <a class="noCtrlF" href="javascript:void 0" data-text="source"></a>
        </li>
        <li class="share">
          <a class="post-sharing-button" href="javascript: void 0;">share</a>
        </li>
        <li class="link-save-button save-button login-required">
          <a href="#">save</a>
        </li>
        <li>
          <form
            action="/post/hide"
            method="post"
            class="state-button hide-button"
          >
            <input type="hidden" name="executed" value="hidden" /><span
              ><a
                class="noCtrlF"
                href="javascript:void 0"
                data-event-action="hide"
                data-text="hide"
              ></a
            ></span>
          </form>
        </li>
        <li class="give-gold-button">
          <a
            href="/gold?goldtype=gift&amp;months=1&amp;thing=t3_6jn4em"
            title="give an award in appreciation of this post."
            class="give-gold login-required access-required gold-give-gold"
            data-event-action="gild"
            data-community-awards-enabled="True"
            rel="nofollow"
            >give award</a
          >
        </li>
        <li class="report-button login-required">
          <a
            href="javascript:void(0)"
            class="reportbtn access-required"
            data-event-action="report"
            >report</a
          >
        </li>
        <li class="crosspost-button">
          <a
            class="post-crosspost-button"
            href="javascript: void 0;"
            data-crosspost-fullname="t3_6jn4em"
            >crosspost</a
          >
        </li>
        <li>
          <a
            href="#"
            class="noCtrlF res-toggleAllChildren"
            action="hide"
            title="Show only replies to original poster."
            data-text="hide all child comments"
          ></a>
        </li>
      </ul>
    </div>
    <div
      class="expando"
      data-pin-condition="function() {return this.style.display != 'none';}"
    >
      <form
        action="#"
        class="usertext warn-on-unload"
        onsubmit="return post_form(this, 'editusertext')"
        id="form-t3_6jn4ems1i"
      >
        <input type="hidden" name="thing_id" value="t3_6jn4em" />
          {{{ text }}}
        </div>
      </form>
    </div>
    <div class="reportform report-t3_6jn4em"></div>
  </div>
  <div class="child"></div>
  <div class="clearleft"></div>
