<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    rel="stylesheet"
  />
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<style>
  nav {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
</style>
<script>
  generate = () => {
    let link = document.getElementById("input").value;
    link = new URL(link).pathname;
    window.location.replace(link);
  };

  copy = (link) => {
    navigator.clipboard.writeText(link).then(function() {
    /* clipboard successfully set */
    }, function() {
    /* clipboard write failed */
    });
  }
</script>
<html>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a href="https://shareddit.com"
        ><span class="navbar-brand mb-0 h1">shareddit</span></a
      >
    </div>
  </nav>
<div class="container">
    <form>
      <div class="form-group">
        <input
          type="url"
          class="form-control mx-2 my-1"
          placeholder="reddit post/comment permalink"
        />
        <p class="mx-2">
          image parameters go here
        </p>
        <button
          type="button"
          class="btn btn-primary btn-block mx-2 my-1"
          onclick="generate()"
        >
          generate
        </button>
    </form>
      </div>
      <div>
         <img src="{{ link }}"/ class="img-fluid">
      </div>
      <div class="form-group"></div>
      <form method="get" action="{{ link }}">
        <button type="button" class="btn btn-primary btn-block mx-2 my-1" onclick="window.open('{{ link }}')">
            download
        </button>
      </form>
      <button type="button" class="btn btn-primary btn-block mx-2 my-1" onclick="copy('{{ link }}')" data-toggle="modal" data-target="#copiedLink">
        copy imgur link
      </button>
    </div>
    </div>
    <div class="modal fade" id="copiedLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            link copied
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">cool</button>
          </div>
        </div>
      </div>
    </div>
</div>
</html>
